body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtYpFJ-y1lENei-39xDdgsajI6r6h2Mnjis2oly6ZhqskhogZztpT0zEtgKRZyfY4_IF0&usqp=CAU);
}
h1 {color:gold; size: 50%; vertical-align:middle;
    margin:-50px -50px;
    background-color: brown;
    width: 103%;margin: -2.5%;
}
p {text-align: right;margin: 10px 40px;
}
a {color: gold;text-decoration: none;
}
.myDiv {width: 600px;text-align:center 10px; 
    border: 5px solid rgb(27, 27, 26);
    margin: 100px 350px;
    background-color: gold;
}
h2 {float: left;background-color: black;
    color: gold;
    margin: -278px 370px;
}
h3 {float: left;background-color: black;
    color: gold;
    margin: -10px 370px;font-size: x-large;
}
footer{background: brown;
}
.myDiv input{width: 450px;

}
.myDiv2{width: 600px;text-align:center 10px;
     border: 5px solid rgb(27, 27, 26);
    margin: 100px 350px;background-color: gold;
}

.socmed a img{
    float: left; 
    width: 6%;
    margin: -90px 25px;
}
.socmed2 a img{
    float: left; 
    width: 3%;
    margin: -85px 0px;
}
h6{
    color: gold;
    float: left; 
    background-color: black;
    margin:-70px 0px;
    font-size: medium;
    background-size: 0%;
}
.Use input{width: 550px; height:100px;
}